html,body{height:100%;}

.container {
    min-height:100%;
    overflow: hidden;
}

.fill{
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
}

.green {
    background: green;
}

.red {
    background: red;
}

.pink {
    background: pink;
}